################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UserInterface/MainMenu/Assets/Plugins
/UserInterface/MainMenu/Assets/TextMesh Pro
/UserInterface/MainMenu/obj/Debug
/UserInterface/MainMenu/Library
/UserInterface/MainMenu/Temp
/UserInterface/MainMenu/.vs/MainMenu
/UserInterface/MainMenu/Logs
/CodeRecommendations/UnityJuniorDev_CodeRecommendations_3/UserSettings/Layouts/default-2023.dwlt
/UserInterface/MainMenu/obj/Release/Assembly-CSharp-firstpass.csproj.AssemblyReference.cache
/UserInterface/MainMenu/obj/Release/Assembly-CSharp.csproj.AssemblyReference.cache
/.vs
